<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <nav>
        <a href="{{ "/" | locale_url }}">Главная</a>
        <a href="{{ "/websites/" | locale_url }}">Сайты</a>
        
        <hr>
        <a href="/{{ page.fileSlug if page.fileSlug != 'index' else '' }}">BG</a>
        <a href="/en/{{ page.fileSlug if page.fileSlug != 'index' else '' }}">EN</a>
        <a href="/ru/{{ page.fileSlug if page.fileSlug != 'index' else '' }}">RU</a>
    </nav>

    {{ content | safe }}
</body>
</html>