@import './components/header';
@import './components/footer';

@import './components/logotype.scss';
@import './components/lang-switcher.scss';
@import './components/nav-menu.scss';
@import './components/contained-burger.scss';
@import './components/burger-button.scss';
@import './components/burger-menu.scss';
@import './components/about-me';
@import './components/contacts';
@import './components/contacts-item.scss';
@import './components/textWithImageOnBackground.scss';
@import './components/bgLinenTransparent.scss';

@import './components/visually-hidden';
@import './components/title';
@import './components/details';
@import './components/list-define';
@import './components/list.scss';
@import './components/bullet-list.scss';
@import './components/numbered-list.scss';