// @import './template/page.scss';
body {
  background-image: url(../img/Gemini_Generated_Image_6usvp46usvp46usv.webp);
  background-color: #EDEAE0;
  background-repeat: repeat;
}

@use './template/container.scss';
@use './template/section.scss';