/* Colors */
$white: #ffffff;
$whiteOpacity85: rgba(255, 255, 255, 0.85); // a white:hover, input border
$whiteOpacity70: rgba(255, 255, 255, 0.7);  // a white:active, slider bg
$whiteOpacity60: rgba(255, 255, 255, 0.6);  // a white:focus
$black: #101010;
$blackOpacity85: rgba(16, 16, 16, 0.85);
$blackOpacity70: rgba(16, 16, 16, 0.7);
$blackOpacity60: rgba(16, 16, 16, 0.6);

/* Color scheme */
$primary:$black; /* Используется для самых важных элементов: кнопок призыва к действию (CTA), активных состояний или логотипа */
$secondary: navy; /* Дополняет основной. Он менее броский и используется для того, чтобы выделить элементы второго порядка, не перетягивая внимание на себя */
$accent: yellow; /* яркий, контрастный цвет, который используется точечно */

$background: $white; /* Цвета для карточек, панелей и общего фона страницы. Обычно это оттенки белого, серого или очень темные тона */
$error: red; /* Для сообщений об ошибках и деструктивных действий */
$success: green; /* Для уведомлений об удачном завершении операции */
$warning: orange; /* Для привлечения внимания к возможным проблемам. */
$info: lightblue; /* Для справочных сообщений */

/* On-[Color] (Цвет «на» чем-то): Например, On-Primary — это цвет текста, который будет читабельным на основном фоне */

$primaryText: $black; /* Самый контрастный цвет для заголовков и основного чтения */
$secondaryText: gray; /* Более блеклый (серый) для подписей, дат и пояснений */
$disabled: darkgray; /* Совсем светлый для неактивных кнопок или подсказок в полях ввода */
$shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
$border-color: lightgray;

/* Fonts */
$titleFontFamily: 'Roboto Slab',"Roboto", "Palatino Linotype", "Georgia", "Garamond", "Bookman Old Style", "Arial", serif;
$fontSizeLogo: 1.8em;
$fontSizeTitle2: 1.4em;
$fontSizeTitle3: 1.2em;
$fontSizeTitle4: 1em;
$fontSizeSmall: 0.8em;
$lineHeight-standart: 120%;
$lineHeight-incr: 175%;

/* Breakpoints */
$small-phone: 320px;
$phone: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1200px;

/* */
$transition-speed: 0.2s;
