.logotype {
  display: flex;
  align-items: center;
}
.logotype__img {
  flex-shrink: 1;
  width: 74px;
  height: 102px;
  margin-right: 28px;
  @include for-size(small-phone) {
    display: none;
  }
}
.logotype__text {
  font-family: $titleFontFamily;
  font-size: $fontSizeLogo;
  word-break: keep-all;
  & > * {
    display: block;
  }
}