.nav-menu_top {
  @include for-size(devices) {
    width: 46px;
    height: 36px;
    padding-right: 10px;
    padding-left: 0px;
  }
}
.nav-menu__item {
  margin-right: 1.8em;
  &:last-child {
    margin-right: 0;
  }
}