.title {
  font-family: $titleFontFamily;
}

.title_2 {
  // margin-bottom: 1.5em;
  font-size: $fontSizeTitle2;
}
.title_3 {
  // margin-top: 0.5em;
  font-size: $fontSizeTitle3;
  font-weight: lighter;
}
.title_4 {
  // margin-top: 0.3em;
  font-size: $fontSizeTitle4;
  font-weight: lighter;
}