---
layout: base.njk
---

<article class="container__item section about-me" id="about">
  <img eleventy:formats="webp" src="/assets/img/Iva Kochneva-bg-transparent.png" alt="{{ alt_ivaPhoto}}" class="about-me__photo">
  <div class="about-me__text">
    {{ content | safe }}
  </div>
</article>
